<IfModule mod_rewrite.c>
    RewriteEngine On

    # Serve static assets from /public folder
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteRule ^(css|js|images|fonts|frontend|assets|assets1)/(.*)$ public/$1/$2 [L]
    RewriteRule ^(.*)$ public/$1
    # Laravel routes - redirect everything else to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
